$blue:#4475C3;
$cyan: #3894A0;
$indigo: #655AAF;
$tq: #6161AB;
$green:#569E73;
$red: #D83A2A;
$warning: #f0ad4e;
$primary: #4B2B67;
$chartprimary: rgb(135,117,241);
$secondary: #383874;
$primarytext: $secondary;
$primarypurple: $primary;
$primaryred: #ff708b;
$primarywhite: #fff;

$cal5: #673c4f;
$cal4: #7f557d;
$cal3: #726e97;
$cal2: #7698b3;
$cal1: #83b5d1;

$base-color-purple :#50276B;
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap-vue/src/index.scss';